<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.cjs.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>
@RenderSection("Scripts", required: false)

