<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>

@*<script type="text/javascript" src="~/DesktopModules/MVC/QuestionModule/Scripts/vue.min.js"></script>*@
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript" src="~/DesktopModules/MVC/QuestionModule/Scripts/axios.min.js"></script>
@RenderSection("Scripts", required: false)
